body{
    background: url(./media/basic-pics/djback.jpg) no-repeat center/cover;
    height: 100vh;
}
.music-box{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20%;
    display: flex;
    white-space: initial;
    flex-wrap: wrap;
    /*white-space: nowrap;*/
    overflow: auto;
}
.drum{
    flex: 0 25%;
    padding: 2.5rem;
    margin: 0.5rem 1rem;
    text-align: center;
    background: rgba(10,211,238,0.5);
    box-shadow: 2px 2px 2px #333;
    cursor: pointer;
    width: 50px;;
    /*display: flex;*/
    
}
.drum:active{
    transform: scale(0.5);
    transition: 0.5s;
}

.down{
    transform: scale(0.5);
    transition: 0.5s;
  }

